* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Soleil';
    src: url(fonts/soleil-webfont/SoleilRegular.woff);
}

@font-face {
    font-family: 'Soleil-bold';
    src: url(fonts/soleil-webfont/SoleilBold.woff);
}

h1 {
    font-family: 'Soleil-bold';
    color: #025D70;
}

body {
    font-family: 'Soleil';
    background-color: #e8e8e8;
}

/* Nav */
header {
    background-color: white;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    position: absolute;
}

nav ul {
    font-family: 'Soleil';
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    display: inline-block;
    padding: 0.5em;
    color: #238E99;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.logo img {
    width: 40%;
    margin-top: 15px;
}

/* Temporary banner image */

.hero-image {
    background-image: url("photos/turtle-05.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 50%;
  }


/* Mission */

.mission {
    justify-content: center;
    margin-top: 50px;
}

.mission-info {
    color: #CA7B38;
    background-color: white;
    font-family: 'Soleil-bold';
    padding: 35px;
    font-size: 1.2rem;
    margin-top: -30px;
    margin-left: 35px;
    margin-right: 35px;
}

.mission-title {
    font-size: 3rem;
    color: #025D70;
    margin-left: 72px;
}


.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    margin-top: -106px;
    font-size: 3rem;
    padding-bottom: 20px;
    color: #025D70;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.image {
    height: 300px;
    width: 100%;
    background-image: url(photos/turtle-11-square.jpg);
    background-size: cover;
    background-position: center;
}

.text-container {
    margin: 60px 45px 55px;
}

p {
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 30px 0;
}


/* Media Queries */
@media screen and (min-width: 320px) {
    .about {
        margin-top: -75px;
        font-size: 1.8rem;
        padding-bottom: 20px;
    }

    .main {
        height: 30vh;
        margin-top: 643px;
    }

    .mission-info {
        margin-top: -15px;
    }

    .mission-title {
        font-size: 1.8rem;
}

@media screen and (min-width: 375px) {
    .main {
        height: 10vh;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
        flex-direction: row;
    }
    .image {
        min-width: 360px;
        height: 420px;
    }
    .text-container {
        margin: 0 60px;
        max-width: 660px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1200px;

    }
}


/* Footer */
footer {
    width: 100%;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footerbuttons {
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  footer .footerbuttons button {
    width: 100%;
    background-color: #c5e2df;
    color: #035d6f;
    padding: 1.4% 2%;
    margin: .8% 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: soleil, sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-transform: capitalize;
  }
  footer .footerbuttons button:hover {
    color: #f8b966;
  }
  footer #footerbottom {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 10%;
    align-items: center;
  }
  footer .footerleft {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  footer .footerleft .footerleft-top {
    display: flex;
    flex-direction: row;
  }
  footer .footerleft .footerleft-top img {
    width: 30%;
  }
  footer .footerleft .footerleft-top p {
    font-size: .5em;
    text-align: center;
  }
  footer footer .footerleft .footerleft-btm h6 {
    font-size: 0.7em;
  }
  footer .footercenter {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .footercenter img {
    width: 50%;
  }
  footer .footerright {
    width: 30%;
    display: flex;
    flex-direction: row;
  }

}