* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'soleil';
    src: url(SoleilRegular.woff);
}

/* Nav */
header {
    background-color: #e8e8e8;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav ul {
    font-family: 'soleil-webfont';
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    display: inline-block;
    padding: 0.5em;
    color: #238E99;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.logo img {
    width: 40%;
    margin-top: 15px;
}